:host {
    display: flex;
    justify-content: center;
    margin: -10vh 0px;
  }

  .flex-me {
    display: inline-flex;
    flex-flow: row wrap;
    background: linear-gradient(#1e4b4f, transparent),
    linear-gradient(to top left, green, transparent),
    linear-gradient(to top right, blue, transparent);
    color: White;
    margin: 0.2rem;
    justify-content: center;
  }
  
  mat-card {
    height: 40vh;
    width: 20vw;
  }

  hr.gradient {
    height: 3px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(
      90deg,
      rgba(13, 8, 96, 1) 0%,
      rgba(9, 9, 121, 1) 21%,
      rgba(6, 84, 170, 1) 51%,
      rgba(0, 255, 113, 1) 100%
    );
  }