<div *ngIf="(hostels.length > 0 || tenants.length > 0); then content else other_card">
</div>
<ng-template #content>
  <div>
    <mat-label *ngIf="hostels.length > 0" style="font-size: large;"><b>Hostels : {{hostels.length}}</b></mat-label>
    <div *ngIf="hostels.length > 0">
      <mat-card class="flex-me" *ngFor="let hostel of hostels" >
        <mat-card-header>
          <mat-card-title>{{hostel.name.toUpperCase()}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Type: {{hostel.type}}</p>
            <p>Owner: {{hostel.owner.firstname}} {{hostel.owner.lastname}}</p>
            <p>Contact: {{hostel.contact}}</p>
            <p>Total Rooms: {{(hostel.rooms.length>0)?hostel.rooms.length:0}}</p>
            <p>Active: {{hostel.isActive===true?"YES":"NO"}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <hr class="gradient">
    <mat-label style="margin-top: 20px;font-size: large;" *ngIf="rooms.length > 0"><b>Rooms : {{rooms.length}}</b></mat-label>
    <div *ngIf="rooms.length > 0">
      <mat-card class="flex-me" *ngFor="let room of rooms" >
        <mat-card-header>
          <mat-card-title>{{room.roomNo}} - {{room.hostel.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Id: {{room.id}}</p>
            <p>Floor #: {{room.floorNo}}</p>
            <p>Capacity: {{room.capacity}}</p>
            <p>Hostel: {{room.hostel.name}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <hr class="gradient">
    <mat-label style="margin-top: 20px;font-size: large;" *ngIf="tenants.length > 0" ><b>Tenants : {{tenants.length}}</b></mat-label>
    <div *ngIf="tenants.length > 0" >
      <mat-card class="flex-me" *ngFor="let tenant of tenants">
        <mat-card-header>
          <mat-card-title>{{tenant.firstName}}, {{tenant.lastName}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Tenant Id: {{tenant.id}}</p>
            <p>Mobile: {{tenant.mobile}}</p>
            <p>Id Type: {{tenant.idType}}</p>
            <p>Id Number: {{tenant.idNumber}}</p>
            <p>Entry Date: {{tenant.entryDate}}</p>
            <p>Exit Date: {{tenant.exitDate}}</p>
            <p>Active: {{(tenant.isActive)?"YES":"NO"}}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <hr class="gradient">
    <mat-label style="margin-top: 20px;font-size: large;" *ngIf="expenses.length > 0"><b>Expenses : {{expenses.length}}</b></mat-label>
    <div *ngIf="expenses.length > 0" >
      <mat-card class="flex-me" *ngFor="let expense of expenses">
        <mat-card-header>
          <mat-card-title>{{expense.hostel.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>Expense Id: {{expense.id}}</p>
            <p>Expense Type: {{expense.expenseType}}</p>
            <p>Description: {{expense.description}}</p>
            <p>Date: {{expense.date}}</p>
            <p>Amount: {{expense.amount}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>

<ng-template #other_card>
  <div #other_card >
    <mat-card class="flex-me" >
      <mat-card-header>
        <mat-card-title>No Data Found</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <p>No Data Avaialble To Show. 
            Create An Hostel To Add Tenants.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

  