:host {
    display: flex;
    justify-content: center;
}

.title-bar {
    height: 2.0%;
    font-weight: 900;
    z-index: 1000;
    display: table-cell;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  
mat-card {
  
    mat-card-title,
    mat-card-content {
      display: flex;
      justify-content: center;
  
      form {
        .mat-form-field {
          width: 100%;
          min-width: 300px;
        }
  
        .error {
          padding: 16px;
          width: 300px;
          color: white;
          background-color: red;
        }
  
        .button {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
  