<div>
    <h2>Hostel:</h2>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 data-table">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let hostel"> {{hostel.id}} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let hostel"> {{hostel.name}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let hostel"> {{hostel.type}} </td>
        </ng-container>
        <ng-container matColumnDef="rooms">
            <th mat-header-cell *matHeaderCellDef> Rooms </th>
            <td mat-cell *matCellDef="let hostel"> {{hostel.rooms.length}} </td>
        </ng-container>
        <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef> Owner Name </th>
            <td mat-cell *matCellDef="let hostel"> {{hostel.owner.firstname}} {{hostel.owner.middlename}} {{hostel.owner.lastname}} </td>
        </ng-container>
        <ng-container matColumnDef="contact">
            <th mat-header-cell *matHeaderCellDef> Contact </th>
            <td mat-cell *matCellDef="let hostel"> {{hostel.owner.mobile}} </td>
        </ng-container>
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let hostel"> {{hostel.address.street}}, {{hostel.address.city}}, {{hostel.address.state}}, {{hostel.address.country}}, {{hostel.address.zipcode}} </td>
        </ng-container>
        <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef> Active </th>
            <td mat-cell *matCellDef="let hostel"> {{(hostel.isActive)?"YES":"NO"}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>